{% extends "dashboard_base.html" %}
{% block dashboard_content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title" style="text-align:center; align-content:center;">Food Meal Recognition
                        </h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body ">
                        <div class="panel">
                            <img src="{{url_for('static', filename='userprofile.jpg')}}"
                                style="width: 400px; height: 600px;align-content: center;align-items: center;margin-left: 200px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock dashboard_content %}
{% block scripts %}

<script src="{{ url_for('static',filename='jquery.3.2.1.min..js') }}"></script>
<script src="{{ url_for('static',filename='popper.min.js') }}"></script>
<script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='bootstrap-switch.js') }}"></script>
<script src="{{ url_for('static',filename='chartist.min.js') }}"></script>
<script src="{{ url_for('static',filename='bootstrap-notify.js') }}"></script>
<script src="{{ url_for('static',filename='light-bootstrap-dashboard.js') }}"></script>
{% endblock scripts %}