<!DOCTYPE html>
<html>
<head>
<title>REGISTER</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Register</h1>
    <form method="POST">
        <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="name" required>
        </div>
        <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="user@email.com" required>
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="password" required>
        </div>
        <div class="form-group">
            <input type="password" name="confirm" class="form-control" placeholder="confirm password" required>
        </div>
        <button class="btn btn-primary" type="submit">submit</button>
    </form>

    {% if error is defined %}
    Error creating an account: {{ error }}
    {% endif %}
</div>

</body>
</html>

